@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

* {
  font-family: "Poppins", sans-serif;
}

/* @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #22c55e;
  --color-secondary: teal;
  --btn-color: var(--color-[#22c55e]);
  name: "dark";
  --color-primary: #22c55e;
  --btn-color: var(--color-[#22c55e]);
} */

[data-theme="light"] {
  .my-btn {
    background-color: #05a540;
    color: white;
    border: none;
  }
  .primaryColor {
    color: #05a540;
  }
  .backGround {
    background-color: #f5f5f4;
  }
}

[data-theme="dark"] {
  .my-btn {
    background-color: #05a540;
    color: white;
    border: none;
  }
  .primaryColor {
    color: #05a540;
  }
  .backGround {
    background-color: #1f2937;
  }
}

.active {
  color: #05a540;
}
